/*
	Drift by Alex M.A.K.
	enlab.su @flashhacker
	License: enlab.su/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}

/* Header */

	.dropotron.level-0 {
		font-size: 1em;
	}

/* Banner */

	#banner {
		background-attachment: scroll;
		padding: 10em 0;
	}