/*
	Drift by Alex M.A.K.
	enlab.su @flashhacker
	License: enlab.su/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

	h2 br, h3 br, h4 br, h5 br, h6 br {
		display: none;
	}

/* Section/Article */

	header br {
		display: none;
	}

/* Feature */

	.feature {
		padding-left: 0;
		text-align: center;
	}

		.feature:before {
			margin: 0 0 0.7em 0;
			position: relative;
		}

		.feature p {
			padding: 0 2em;
		}

/* Slider */

	.slider .viewer {
		border-width: 1em;
		width: 100%;
	}

	.slider .slide img {
		border-radius: 0.375em;
		display: block;
		width: 100%;
	}

	.slider .nav-next,
	.slider .nav-previous {
		background: none;
		border-radius: 0;
		color: #fff;
		height: 100%;
		margin-top: 0;
		top: 0;
		vertical-align: bottom;
		width: 50%;
		z-index: 1;
	}

		.slider .nav-next:before,
		.slider .nav-previous:before {
			display: block;
			height: 2em;
			line-height: 2em;
			margin-top: -1em;
			padding: 0 1em;
			top: 50%;
			width: 100%;
		}

	.slider .nav-next {
		right: 0;
		text-align: right;
	}

	.slider .nav-previous {
		left: 0;
		text-align: left;
	}

/* Header */

	#skel-layers-wrapper {
		padding-top: 0;
	}

	#header {
		display: none;
	}

/* Banner */

	#banner {
		padding: 12em 2em;
	}

/* Layers */

	#navButton .toggle {
		text-decoration: none;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

		#navButton .toggle:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		#navButton .toggle:before {
			background: rgba(103, 107, 113, 0.75);
			border-radius: 0.5em;
			color: #fff;
			content: '\f0c9';
			display: block;
			font-size: 16px;
			height: 2.25em;
			left: 0.5em;
			line-height: 2.25em;
			position: absolute;
			text-align: center;
			top: 0.5em;
			width: 3.5em;
		}

	#navPanel {
		background-color: #fff;
		box-shadow: 0.5em 0 2em 0 rgba(0, 0, 0, 0.1);
		padding: 0.5em 1.5em;
	}

		#navPanel .link {
			border: 0;
			border-top: solid 1px rgba(144, 144, 144, 0.2);
			color: #646464 !important;
			display: block;
			height: 3em;
			line-height: 3em;
			text-decoration: none;
		}

			#navPanel .link:first-child {
				border-top: 0;
			}

			#navPanel .link.depth-0 {
				font-weight: 700;
				color: #545454 !important;
			}

			#navPanel .link .indent-1 {
				display: inline-block;
				width: 1.25em;
			}

			#navPanel .link .indent-2 {
				display: inline-block;
				width: 2.5em;
			}

			#navPanel .link .indent-3 {
				display: inline-block;
				width: 3.75em;
			}

			#navPanel .link .indent-4 {
				display: inline-block;
				width: 5em;
			}

			#navPanel .link .indent-5 {
				display: inline-block;
				width: 6.25em;
			}