@import 'vars';
@import 'mixins';

/*
	Drift by Alex M.A.K.
	enlab.su @flashhacker
	License: enlab.su/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}
	
/* Banner */

	#banner {
		padding: 12em 0;
	}